<div class="container">
  <div class="content-wrapper">
    <p>Here you will find test <a href="https://jsonplaceholder.typicode.com/guide.html" target="_blank">requests list</a>.</p>
    <form class="form" [formGroup]="request" (ngSubmit)="onSubmit()">
      <select class="custom-select" (change)="changeMethod($event)" formControlName="method">
        <option value="">Choose your request method</option>
        <option *ngFor="let method of methods" [value]="method">{{method}}</option>
      </select>
      <label class="url">
        url:
        <input type="text" formControlName="url">
      </label><br>
      <label class="body">
        body:
        <textarea type="text" formControlName="body" [placeholder]="bodyPlaceholder"></textarea>
      </label>
      <button type="submit" [disabled]="!request.valid">Submit</button>
    </form>
    <div class="response-wrapper">
      <span>Response from Your request: </span>
      <code><pre>{{ response }}</pre></code>
    </div>
  </div>
</div>
