@import '../../../assets/styles/global';

@include view-container;

.container {
  position: relative;
  .content-wrapper {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    .methods-wrapper__method {
      cursor: pointer;
      padding: 3px;
      &:hover {
        background-color: #ada8b6;
        color: $white;
        border-radius: 2px;
      }
    }
  }
}

.url input {
  width: 300px;
}

.body textarea {
  width: 500px;
  height: 200px;
}

.header-input {
  width: 500px;
}

label, button {
  float: left;
}

.form {
  margin-bottom: 30px;
}

.custom-select {
  margin-bottom: 20px;
}

.body {
  padding-top: 20px;
}
